
.invalidInput {
	border: 4px solid red !important;
}

.modalScreen {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.completeOrderModal {
  position: relative;
  z-index: 1;
  margin: 100px auto;
  width: 350px;
  background-color: #fff;
  padding: 1em;
}

.cashDrawerModal {
  position: relative;
  z-index: 1;
  margin: 100px auto;
  width: 350px;
  background-color: #fff;
  padding: 1em;
}

.glyphicon .glyphicon-chevron-right {
	text-align: right;
}