<div class="testOverlay">
  <div class="testModal panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Name Change Modal</h3>
    </div>
    <div class="panel-body">
      <p>Enter a new name:</p>
      <p>{{input value=name}}</p>
      <button {{action "closeModal"}}>Done</button>
    </div>
  </div>
</div>
